first-country-lookup-system-api/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="first-country-lookup-sapi-main">
        <http:listener config-ref="first-country-lookup-sapi-httpListenerConfig" path="${http.basePath}" doc:name="Global HTTP Listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.headers.correlationId default correlationId]" doc:name="Set Variable" doc:id="78442c33-0f76-4089-8259-bdfcefa50f27" variableName="correlationId"/>
		<apikit:router config-ref="first-country-lookup-sapi-config" doc:name="Global APIkit Router"/>
        <error-handler ref="errorErrorHandler">
           
        </error-handler>
    </flow>
    <flow name="get:\countries:first-country-lookup-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    country: "India",
    region: "Asia",
    isoCode: "IN"
  }, 
  {
    country: "Ghana",
    region: "Africa",
    isoCode: "GH"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="errorErrorHandler" />
    </flow>
    <flow name="get:\countries\(iso_code):first-country-lookup-sapi-config">
		<flow-ref doc:name="get-country-flow" doc:id="68cc9057-3465-43f3-a91d-38d8fba9430a" name="get-countriesFlow"/>
    </flow>
</mule>
